<div id="statistics" class="h-fit py-4 mx-8 sm:mx-16 md:mx-32 lg:mx-52 xl:mx-72 2xl:mx-96">
  <div class="flex flex-col sm:flex-row sm:items-center justify-between h-fit">
    {% include components/page-title.html title=include.title %}
    <div class="font-extrabold text-3xl py-4 sm:py-0">
      {{ include.year | markdownify }}
    </div>
  </div>
  <div class="font-medium text-slate-400 text-2xl sm:text-3xl py-10">
    {{ include.header | markdownify }}
  </div>
  <div class="flex flex-col justify-between">
    {% for stat in include.statistics %}
    <div class="w-fit odd:self-end my-6 odd:text-right">
      <div class="font-extrabold text-3xl sm:text-5xl lg:text-6xl py-4">
        {{ stat.title | markdownify }}
      </div>
      <div class="font-medium text-slate-400 text-xl">
        {{ stat.subtitle | markdownify }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>