<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="scroll-smooth">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>
    {{ site.title }}
  </title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body class="bg-mint max-w-7xl mx-auto">
  {% include pages/landing.html 
      title=page.landing_title 
      subtitle=page.landing_subtitle 
      next='#statistics' 
  %}
  {% include pages/statistics.html 
      title=page.statistics_title 
      header=page.statistics_header
      year=page.statistics_year
      statistics=page.statistics
  %}
  {% include pages/process.html 
      title=page.process_title 
      header=page.process_header
      steps=page.process_steps
  %}
  {% include pages/about.html 
      title=page.about_title 
      details=page.about_details
      people=page.about_people
  %}
</body>

</html>